@font-face {
    font-family: "IranYekan";
    src:
        url("assets/font/IRANyekan.ttf");
}

* {
    font-family: "IranYekan";
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* footer styles */