@font-face {
    font-family: "IranYekan";
    src:
        url("assets/font/IRANyekan.ttf");
}

* {
    font-family: "IranYekan";
    box-sizing: border-box;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;

    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    width: 250px;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
}

.logo .logo-img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.menu {
    list-style: none;

    padding: 0;
    margin: 0;

    flex-grow: 1;
}

.menu-item {
    display: flex;
    align-items: center;

    padding: 0;

    text-decoration: none;
    color: #666;

    margin-bottom: 5px;
    border-radius: 8px;

}

.menu-item i {
    margin-left: 10px;
}

.menu-item p {
    margin: 0;
}

.active {
    background-color: #7563ae;
    color: white;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile p {
    color: #333;
    margin: 0;
    flex-grow: 1;
}

.profile i {
    color: #666;
}